iframe{
    width: 100%;
    height: 100%;
        
}
#A1{
  Width: 80%;
    bottom:500px; 
}
A2{
   Width: 80%; 
    bottom:1000px;
}
#img1{
    width:75px;
}
#img2{
    width:100px;
}